video/ffmpeg.exe
ffmpeg.exe
*.history
node_modules
.DS_Store
dist
dist-ssr
*.local
*.history
.eslintcache
report.html
vite.config.*.timestamp*

yarn.lock
npm-debug.log*
.pnpm-error.log*
.pnpm-debug.log
tests/**/coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
tsconfig.tsbuildinfo